@font-face {
  font-family: "Titillium Web";
  src: url("./fonts/titilliumweb.ttf");
}

@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("./fonts/titilliumwebbold.ttf");
}

@font-face {
  font-family: "TitilliumWeb-light";
  src: url("./fonts/titilliumweblight.ttf");
}

@font-face {
  font-family: "Malaga-RegItalic";
  src: url("./fonts/Malaga.otf");
}

.body {
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
  padding: 75px 0 0 0;
}

.header-line {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px auto;
}

.logo {
  margin: auto 0;
}

.navigation-registration-block {
  display: flex;
  justify-content: flex-end;
}

.autorization-registration-block {
  margin-left: 76px;
}

.navigation, .languages__line, .navigation__line {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

.navigation__line--item {
  padding-left: 28px;
}

.languages__line--item {
  padding-right: 11px;
}

.languages__line--item:not(:last-of-type)::after {
  padding-left: 11px;
  content: "/";
}

.navigation__line--item-link {
  font-family: 'Titillium Web';
  font-size: 16px;
  color: #454545;
  text-align: left;
}

.languages__line--item-link {
  font-family: 'Titillium Web';
  font-size: 14px;
  color: #959595;
  text-align: left;
}

.languages__line--item-link:hover, .navigation__line--item-link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.autorization-link {
  color: rgba(69, 69, 69, 255);
  text-align: left;
}

.registration-button {
  width: 93px;
  height: 43px;
  margin-left: 23px;
  border-radius: 80px;
  color: #fff;
  text-align: center;
}

.autorization-link, .registration-button {
  font-family: "TitilliumWeb-Bold";
  font-size: 16px;
}

.gradient {
  background: linear-gradient(150deg, #582c7e, #6272c8);
  box-shadow: 0 8px 18px #6272c8;
  border: 0;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header-line {
    width: 1100px;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .header-line {
    min-width: 780px;
    max-width: 1180px;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 50px;
  }
  .logo {
    margin-bottom: 10px;
  }
  .navigation-registration-block {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .navigation, .languages__line, .navigation__line {
    justify-content: flex-start;
    padding-top: 10px;
  }
  .autorization-registration-block {
    margin-left: 0;
  }
  .navigation__line--item {
    padding-left: 0;
    padding-right: 28px;
  }
}

@media (min-width: 540px) and (max-width: 799px) {
  .logo {
    margin-bottom: 10px;
  }
  .header-line {
    padding-left: 25px;
    min-width: 530px;
    max-width: 790px;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  .navigation-registration-block {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .navigation, .languages__line, .navigation__line {
    justify-content: flex-start;
    padding-top: 10px;
  }
  .autorization-registration-block {
    margin-left: 0;
  }
  .navigation__line--item {
    padding-left: 0;
    padding-right: 28px;
  }
}