@media (min-width: 800px) and (max-width: 1200px){
  .header-line {
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 10px;
  }
  .navigation-registration-block {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .navigation, .languages__line, .navigation__line {
    justify-content: flex-start;
    padding-top: 10px;
  }
  .autorization-registration-block {
    margin-left: 0;
  }
  .navigation__line--item {
    padding-left: 0;
    padding-right: 28px;
  }

  .labels-block {
    display: none;
  }

  .footer-column {
    display: none;
  }

  .last-block {
    width: 95%;
    right: 0;
    height: 0;
    padding-top: 60px;
  }

}