@font-face {
  font-family: "Noto Serif Regular";
  src: url("../assets/fonts/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: "Noto Serif Bold";
  src: url("../assets/fonts/NotoSerif-Bold.ttf");
}

.main {
  background-color:#fff;
  height: 100vh;
}

.search-box {
  margin: 0 auto;
  width: 70vw;
  display:flex;

  background: linear-gradient(45deg, #fbcd59, #e6edb7);

  line-height: 90%;
  border-radius: 50px;
  padding: 2vh 1vw;
}

.search-box__search-button{
  background: none;
  border: none;
  color: #fff;
  font-size: 5vh;
  flex-basis: 5%;
}

.search-box__input{
  background: #fff;
  border-radius: 50px;
  border: none;

  width: 100%;
  font-family: "Noto Serif Bold";
  color: #36404d;
}
